.input>input{
border: none;
outline: none;
}.input-row{
    width: 100%;
    height: 25vh;
    position: relative;
    left: 0.6rem;
    border: 2px solid black;
    border-radius:0.7rem ;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);


}.input-row input{
   background-color: transparent;
   width: 80%;
  position: absolute;
  top: 4rem;
  font-size: 2.4rem;
  padding: 1rem 2rem;
  color: aliceblue;
 
}
.button{
   border: 1px solid black;
   
}
.button button{
    border: none;
width: 100%;
background: #fff;
transition: 0.3s all ease;
padding: inherit;

font-size: 2rem;}

button:hover{
    transform: scale(0.9);
   
}
.colide{
   border: 1px solid black;
   padding: 1rem 2rem;
}.colide:hover{

    background: #ffffffb6;
    color: black;
    font-weight: bold;
}
@media only screen and (max-width:1960px) {
    .input-row input{
        background-color: transparent;
        width: 80%;
       position: absolute;
       top: 4rem;
       font-size: 2.3rem;
       padding: 0.5rem 1rem;
       color: aliceblue;
     
     }   
     .input-row{
        height: 13vh;
     }
}